* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1,h2,h3,h4,p {
    margin: 0;
    padding: 0;
}

h1 {
   font-size: 36px; 
}

h2 {
   font-size: 30px; 
}

h3 {
   font-size: 24px; 
}

h4 {
   font-size: 18px; 
}

p {
   font-size: 16px; 
}

body {
    margin: 0;
    font-family: 'Open Sans', Arial, sans-serif;
}

header, main, footer {
    --first-color: #08f;
    --second-color: #414141;
    --third-color: #f5f5f5;
    --fourth-color: #ededed;
    --background: #fff;
    --link-color: var(--second-color);

    color: var(--second-color);
    background-color: var(--background);
    padding: 50px 50px 0;
}

#theme:checked ~ * {
    --second-color:  #cecece;
    --third-color: #333;
    --fourth-color: #1a1a1a;
    --background: #202020;
}

a {
    text-decoration: none;
    color: var(--second-color);
}
a:hover {
    color: var(--first-color);
}

.intro__name {
    font-family: 'Arizonia', cursive;
    font-size: 54px;
}

.home {
    color: var(--first-color);
    font-family: 'Arizonia', cursive;
    font-size: 64px;
    width: 78px;
    line-height: 64px;
    text-decoration: none;
}

#menu,
#theme {
    display: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.menu__list {
    display: flex;
    align-items: center;
    counter-reset: item;
    list-style: none;
    margin: 0;
    padding: 0;
}

.list__item {
    counter-increment: item;
    padding: 0 10px;
}

.list__item::before {
    content: "0" counter(item) ".";
    color: var(--first-color);
}

.list__item a {
    font-size: 20px;
}

.theme {
    margin: 0 10px;
}

.theme--toggle {
    display: inline-flex;
    padding: 20px;
    cursor: pointer;
    border-radius: 3px;
}

.theme--toggle:hover {
    background-color: var(--fourth-color);
}

.social-media {
    padding: 32px 0;
}

.social-media a {
    display: inline-flex;
    align-items: center;
    margin: 5px 10px;
}

a svg {
    fill: var(--second-color);
}

a:hover svg {
    fill: var(--first-color);
}

.section + .section {
    padding-top: 50px;
}

.about {
    position: relative;
}

.arrow--down {
    position: absolute;
    right: 0;
    bottom: 20px;
}

.hr {
    height: 1px;
    width: 90%;
    border: 0;
    background-color: var(--fourth-color);
}

footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

footer > * {
    flex: 1 1 auto;
}

.footer__links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer__links li {
    padding: 0 10px;
}

.link {
    text-decoration: underline;
}

.copyright {
    width: 100%;
}

@media screen and (max-width: 700px) {
    header, main, footer {
        padding: 20px 10px 0;
    }

    .home {
        font-size: 48px;
        width: 60px;
        line-height: 48px;
    }

    .theme {
        margin: 0 20px;
    }

    .intro__name {
        overflow-wrap: break-word;
    }

    .menu {
        position: relative;
    }
    .menu__list {
        display: none;
        position: absolute;
        flex-direction: column;
        right: 0;
        top: 64px;
        align-items: start;
        background-color: var(--third-color);
        padding: 10px 0;
        width: 100%;
        max-width: 200px;
        z-index: 1;
    }

    .menu label:not(.theme--toggle) {
        height: 64px;
        width: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .label__toggle,
    .label__toggle::before,
    .label__toggle::after {
        content: '';
        height: 4px;
        width: 30px;
        display: block;
        position: relative;
        background-color: var(--first-color);
        transition-property: background-color, transform;
        transition-duration: 200ms;
        transition-timing-function: ease-in-out;
    }

    .label__toggle::before {
        top: -8px;
    }

    .label__toggle::after {
        top: 4px;
    }

    #menu:checked ~ .menu__list {
        display: block;
        background-color: var(--third-color);
    }
    
    #menu:checked + label{
        background-color: var(--third-color);
    }
    
    #menu:checked + label .label__toggle{
        background-color: transparent;
    }
    
    #menu:checked + label .label__toggle::before{
        transform: rotate(45deg);
        top: 0;
    }
    
    #menu:checked + label .label__toggle::after{
        transform: rotate(-45deg);
        top: -4px;
    }

    .list__item {
        padding: 10px 20px;
    }

    .theme--toggle {
        justify-content: center;
        width: 100%;
        margin: 0;
    }

    footer {
        padding-bottom: 20px;
    }
}